<table border="1">
    <tr>
        <th>
            index
        </th>
        <th>
            name
        </th>
        <th>
            age
        </th>
        <th>
            gender
        </th>
    </tr>


    <tr (click)="deleteElement(person.id)" *ngFor="let person of people; let i=index">

        <td>
            {{i+1}}
        </td>
        <td>
            {{person.name}}
        </td>
        <td>
            {{person.age}}
        </td>
        <td>
            {{person.gender}}
        </td>

    </tr>


</table>

<button (click)="pushElement()"> add new Row</button>